<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../asset/thirdparty/material.min.css">
    <link rel="stylesheet" href="../asset/view.css">

</head>
<body>
{{{body}}}
<script defer src="../asset/thirdparty/material.min.js"></script>
{{{_sections.script}}}
</body>
</html>
